{use_macro file="Dataface_Main_Template.html"}
    {fill_slot name="html_title"}Water MIS{/fill_slot}
    {fill_slot name="custom_javascripts"}
        <!-- jQuery library (served from Google) -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <!-- bxSlider Javascript file -->
        <script src="js/bxslider/jquery.bxslider.min.js"></script>
        <script type ="text/javascript" src="js/startpage.js"></script>
        <!-- load OpenLayers -->
        <script src="js/ol/OpenLayers.js"></script>
        <!-- load Google Street Maps -->
         <script src="http://maps.google.com/maps/api/js?v=3&amp;sensor=false"></script>
        {define_slot name="JSON_parse"}{/define_slot}
    {/fill_slot}
    {fill_slot name="main_column"}
    <h1 id="startpage_title">{define_slot name="startpage_title"}Default Startpage{/define_slot}</h1>
    <p id="startpage_intro">
       {define_slot name="startpage_intro"}This is a default introduction. If you can read any default content
       on this site, the template was not loaded properly. Please refere to a system administrator!{/define_slot}
    </p>
    
    <ul id="center_ul">
        <li><div class="startpage_mapping">
            {define_slot name="startpage_mapping"}{/define_slot}
        </div></li>
        <li><div class="startpage_quicklink">
            {define_slot name="startpage_quicklink"}This is the default Quicklink area.{/define_slot}
        </div></li>
        <li><div class="startpage_rivers" style="height: 150px;">
            {define_slot name="startpage_rivers"}{/define_slot}
        </div></li>
    </ul>
    <div class="startpage_anouncment">
        {define_slot name="startpage_anouncment"}This is the default Anouncement area{/define_slot}
    </div>
    {define_slot name="startpage_edit"}{/define_slot}
    {/fill_slot}
{/use_macro}