{use_macro file="Dataface_Main_Template.html"}
{fill_slot name="main_column"}
<div style="max-width: 400px; margin-left:auto; margin-right:auto;">
    <h1>About</h1><br/><br/><br/>
    <h3>WaterMIS Balances Module</h3><br/><br/>
    <p><span style="font-weight: bold;">hosted by Rwanda Natural Resources Authority</span>
        <br/>REMERA<br/>RWANDA NATURAL RESOURCES AUTHORITY BUILDING<br/>
        P.O Box 433 Kigali<br/>Rwanda<br/>E-mail: info@rnra.rw<br/></p><br/><br/>
    <p><span style="font-weight: bold;">Concept and Design</span>
    <br/>SHER Ingenieurs Conseiles<br/>Tel.: +32.81.32.79.80<br/>E-mail: sher@sher.be</p><br/>
    <p><span style="font-weight: bold;">Concept and Database</span>
    <br/>Lavuun Verstraete<br/>E-mail: verstraete@sher.be</p><br/>
    <p><span style="font-weight: bold;">Design and Development</span>
    <br/>Mirko Maelicke<br/>E-mail: mirko@maelicke-online.de</p><br/>
</div>
{/fill_slot}
{/use_macro}